.expandable-listview_outerDiv {

}

.expandable-listview_ul {
  margin: 10px;
  list-style-type: none;
  padding: 0;
}

.expandable-listview_fixedPosition {
  position : fixed;
  width : 383px;
  top: 0px;
}

.expandable-listview_listHeader {
  height: 20px;
  color: black;
}

.expandable-listview_listItems {
  color: blue;
}