{
    "swagger": "2.0",
    "info": {
        "title": "Applications Service API",
        "description": "API to modify and access any/all Applications information",
        "version": "1.0.0"
    },
    "host": "students.appta.com",
    "schemes": [
        "http"
    ],
    "basePath": "/v1/api",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/Applications": {
            "get": {
                "operationId": "getApplications",
                "summary": "Get Applications",
                "description": "The Applications endpoint returns Applications'information.\n",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "student_number",
                        "in": "query",
                        "description": "Student number of Application.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "posting_id",
                        "in": "query",
                        "description": "The unique identifier of the posting to which this application is for.",
                        "required": false,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "year_of_study",
                        "in": "query",
                        "description": "Application year of study.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "department",
                        "in": "query",
                        "description": "Applications' department.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "program",
                        "in": "query",
                        "description": "Applications' program.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "emails",
                        "in": "query",
                        "description": "Applications' emails.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv"
                    },
                    {
                        "name": "courses_taken",
                        "in": "query",
                        "description": "Courses taken by Applications. Filters out all Applications who have not taken the courses listed.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv"
                    },
                    {
                        "name": "previous_assignments",
                        "in": "query",
                        "description": "Applications' previous assignments. Filters out all Applications who have not have not previously been assigned to the courses listed.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv"
                    }
                ],
                "tags": [
                    "Applications"
                ],
                "responses": {
                    "200": {
                        "description": "An array of Applications. The array is guaranteed to have one element if the student_number parameter is specified.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Application"
                            }
                        }
                    },
                    "404": {
                        "description": "Applications Not Found",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "operationId": "createApplication",
                "summary": "Create Applications",
                "description": "The create Application endpoint is used to add Applications to the system. There cannot be multiple Applications with the same student number or email.\n",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Application",
                        "in": "body",
                        "description": "Application to create.",
                        "required": true,
                        "schema": {
                          "$ref": "#/definitions/Application"
                        }
                    }
                ],
                "tags": [
                    "Applications"
                ],
                "responses": {
                    "201": {
                        "description": "The Application object which was created in the system.",
                        "schema": {
                            "$ref": "#/definitions/Application"
                        }
                    },
                    "400": {
                        "description": "Bad Request: Complete Application object not provided.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "409": {
                        "description": "Conflict: Application already exists.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
         "/Applications/{id}": {
            "get": {
                "operationId": "getApplicationById",
                "summary": "Get Application By Id",
                "description": "The Application by id endpoint returns a single Application with the specified id.\n",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unique Application Identifier.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "tags": [
                    "Applications"
                ],
                "responses": {
                    "200": {
                        "description": "A single Application object.",
                        "schema": {
                            "$ref": "#/definitions/Application"
                        }
                    },
                    "404": {
                        "description": "Applications Not Found",
                        "schema": {
                          "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "operationId": "updateApplication",
                "summary": "Update Application By Id",
                "description": "The Update Application by id endpoint updates a given Application with the Application object provided.\n",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unique Application Identifier.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "Application",
                        "in": "body",
                        "description": "Updated Application onject. Can be partial",
                        "required": true,
                        "schema": {
                          "$ref": "#/definitions/Application"
                        }
                    }
                ],
                "tags": [
                    "Applications"
                ],
                "responses": {
                    "200": {
                        "description": "The Application object of the updated Application.",
                        "schema": {
                            "$ref": "#/definitions/Application"
                          }
                    },
                    "404": {
                        "description": "Not Found: Application to update was not found.",
                        "schema": {
                          "$ref": "#/definitions/Error"
                        }
                    },
                    "400": {
                        "description": "Bad Request: Valid Application object not provided.",
                        "schema": {
                          "$ref": "#/definitions/Error"
                        }
                    },
                    "409": {
                        "description": "Conflict: Application with updated sutdent number or email already exists.",
                        "schema": {
                          "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteApplication",
                "summary": "Delete Application By Id",
                "description": "Delete an Application specified by its unique identifier.\n",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unique Application Identifier.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "tags": [
                    "Applications"
                ],
                "responses": {
                    "200": {
                        "description": "The Application object of the deleted Application.",
                        "schema": {
                            "$ref": "#/definitions/Application"
                        }
                    },
                    "404": {
                        "description": "Not Found: Application to delete was not found.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Application": {
            "type": "object",
            "required": [
              "posting_id",
              "courses_taken",
              "email",
              "last_name",
              "first_name",
              "id",
              "phone_number",
              "program",
              "department",
              "department_explain",
              "student_number",
              "previous_assignments",
              "work_status",
              "work_status_explain",
              "year_of_study"
            ],
            "properties": {
                "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Unique identiifer for each Application."
                },
                "posting_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Unique identiifer for the posting which was applied to."
                },
                "student_number": {
                    "type": "number",
                    "format": "integer",
                    "description": "Unique identifier for each student assigned to them by the university."   
                },
                "first_name": {
                    "type": "string",
                    "description": "Given first name of Application as per university records."
                },
                "last_name": {
                    "type": "string",
                    "description": "Last name of Application as per university records."
                },
                "phone_number": {
                    "type": "string",
                    "description": "A telephone number at which the Application can be reached."
                },
                "email": {
                    "type": "string",
                    "description": "An university email address at which the Application can be reached."
                },
                "program": {
                    "type": "string",
                    "description": "The level of study of the Application. i.e. UG, MSC, PHD"   
                },
                "year_of_study": {
                    "type": "string",
                    "description": "The year of study of the Application."
                },
                "department": {
                    "type": "string",
                    "description": "The department in which the Application is studying.."
                },
                "department_explain": {
                    "type": "string",
                    "description": "Explanation of department field."
                },
                "work_status": {
                    "type": "string",
                    "description": "Work status of the Application."
                },
                "work_status_explain": {
                    "type": "string",
                    "description": "Explanation of work_status field."
                },
                "student_status": {
                    "type": "string",
                    "description": "The student status of the Application."
                },
                "student_status_explain": {
                    "type": "string",
                    "description": "Explanation of the student_status field."
                },
                "previous_assignments": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "description": "Course codes of previous assignments."
                    }
                },
                "courses_taken": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "description": "Course codes of courses previously taken."
                    }
                },
                "assigned": {
                    "type": "boolean",
                    "description": "True or false value of whether the Application has been assigned to TA a course."
                },
                "status": {
                    "type": "string",
                    "description": "The status of the application.",
                    "readOnly": true
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    }
}